{% extends 'baseLibrarian.html' %}

{% load crispy_forms_tags %}

{% block title %}New User | GardenBook{% endblock %}

{% block page %}Add New User{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card rounded-20 shadow-sm">
        <div class="card-header bg-white">
          <h5 class="card-title mb-0">
            <i class="bi bi-person-plus me-2 text-brown"></i>
            User Registration Form
          </h5>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" class="needs-validation">
            {% csrf_token %}
            {% crispy form %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}