{% extends 'baseLibrarian.html' %}

{% load static %}

{% block title %}Users | GardenBook{% endblock %}

{% block page %}Manage Users{% endblock %}




{% block content %}
<div class="py-5 bg-light-brown">

  <!-- START BUTTONS -->
  <div class="row">
    <div class="col">
      <a href="{% url 'create-user' %}" class="btn btn-outline-brown">+New User</a>

    </div>
    <div class="col">
      <button class="btn btn-outline-brown" data-bs-toggle="modal" data-bs-target="#print-users-modal">Print List Of
        users</button>
      <!-- ________________________________________________________________________ -->
      <!-- START PRINT MULTIPLE USERS MODAL -->
      <div class="modal fade" id="print-users-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">

        <div class="modal-dialog">

          <div class="modal-content">

            <div class="modal-header bg-brown">
              <h5 class="modal-title text-light" id="modal-title">Print Users</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST">
              {% csrf_token %}

              <div class="modal-body">
                <p class="text-secondary">Filter users:</p>

                <!-- Date of Birth Range -->
                <label for="dob-from" class="form-label">Date of Birth From:</label>
                <input type="date" class="form-control" id="dob-from" name="dob_from">

                <label for="dob-to" class="form-label">Date of Birth To:</label>
                <input type="date" class="form-control" id="dob-to" name="dob_to">

                <!-- Role -->
                <label for="role" class="form-label mt-3">Role:</label>
                <select name="role" class="form-select" id="role">
                  <option value="">-- All --</option>
                  <option value="READER">Reader</option>
                  <option value="LIBRARIAN">Librarian</option>
                  <option value="ADMIN">Admin</option>
                </select>

                <!-- Status -->
                <fieldset class="form-group mt-3">
                  <legend class="form-label">Status:</legend>

                  <input type="checkbox" class="form-check-input" name="status" id="status-active" value="ACTIVE">
                  <label for="status-active" class="form-label">Active</label>

                  <input type="checkbox" class="form-check-input" name="status" id="status-inactive" value="SUSPENDED">
                  <label for="status-inactive" class="form-label">Suspended</label>

                  <input type="checkbox" class="form-check-input" name="status" id="status-banned" value="BANNED">
                  <label for="status-banned" class="form-label">Banned</label>
                </fieldset>

                <!-- City -->
                <label for="city" class="form-label mt-3">City:</label>
                <input type="text" class="form-control" id="city" name="city">

                <!-- Country -->
                <label for="country" class="form-label mt-3">Country:</label>
                <input type="text" class="form-control" id="country" name="country">

                <!-- Date Added -->
                <label for="date-added" class="form-label mt-3">Joined From:</label>
                <input type="date" class="form-control" id="date-added" name="from_date_joined">

                <label for="date-added" class="form-label mt-3">To:</label>
                <input type="date" class="form-control" id="date-added" name="to_date_joined">
              </div>

              <div class="modal-footer bg-brown">
                <input type="hidden" name="action" value="print_users">
                <button type="submit" class="btn btn-outline-green" name="format" value="pdf">PDF</button>
                <button type="submit" class="btn btn-outline-green" name="format" value="csv">CSV</button>
              </div>
            </form>


          </div>
        </div>
      </div>

      <!-- END PRINT MODAL -->
    </div>
  </div>
  <!-- END BUTTONS -->

  <!-- START DISPLAY USERS -->
  <div class="container-fluid row m-2">

    <!-- START SEARCH BAR SECTION -->
    <div class="col-md-3 p-4 bg-white shadow-sm rounded-20">
      <h2>Search Users</h2>

      <!-- START MATRICULE SEARCH -->
      <div class="row my-2">
        <p class="fs-5">Matricule</p>
        <input type="search" class="form-control form-control-dark" placeholder="Enter Matricule" aria-label="Search">
      </div>
      <!-- END MATRICULE SEARCH -->

      <!-- START CIN SEARCH -->
      <div class="row my-2">
        <p class="fs-5">CIN</p>
        <input type="search" class="form-control form-control-dark" placeholder="Enter CIN" aria-label="Search">
      </div>
      <!-- END CIN SEARCH -->

      <!-- START NAME SEARCH -->
      <div class="row my-2">
        <p class="fs-5">Name</p>
        <input type="search" class="form-control form-control-dark" placeholder="First or Last Name"
          aria-label="Search">
      </div>
      <!-- END NAME SEARCH -->

      <!-- START ROLE FILTER -->
      <div class="row my-2">
        <p class="fs-5">Role</p>
        <select class="form-control" name="role" id="role">
          <option value="">Select a Role</option>
          <option value="librarian">Librarian</option>
          <option value="reader">Reader</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <!-- END ROLE FILTER -->

      <!-- START DATE OF BIRTH FILTER -->
      <div class="row my-2">
        <p class="fs-5">Date of Birth</p>
        <input type="date" class="form-control form-control-dark" name="dob" id="dob">
      </div>
      <!-- END DATE OF BIRTH FILTER -->

      <!-- START MEMBERSHIP STATUS FILTER -->
      <div class="row my-2">
        <p class="fs-5">Membership Status</p>
        <select class="form-control" name="membershipStatus" id="membershipStatus">
          <option value="">Select Status</option>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
          <option value="suspended">Suspended</option>
        </select>
      </div>
      <!-- END MEMBERSHIP STATUS FILTER -->

      <!-- RESET FILTER BUTTON -->
      <div class="row my-3">
        <button id="resetFilters" class="btn btn-green text-brown w-100">Reset Filters</button>
      </div>



    </div>
    <!-- END SEARCH BAR SECTION -->

    <!-- START MESSAGE -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- END MASSAGE -->
    <!-- START TABLE OF USERS -->

    <div class="col mx-3">
      <div class="overflow-hidden shadow-sm p-0 rounded-20">
        <table class="table align-middle m-0">
          <thead class="bg-brown-second">
            <tr>
              <th>Matricule</th>
              <th>Photo</th>
              <th>CIN</th>
              <th>First Name</th>
              <th>Last name</th>
              <th>Phone Number</th>
              <th>Role</th>
              <th>DOB</th>
              <th>Fines</th>
              <th>Membership Status</th>
              {% if request.user.is_authenticated and request.user.role == 'Administrator' %}
              <th>Suspend Account</th>
              <th>Ban Account</th>
              <th>Edit</th>
              {% endif %}
              <th>Print</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            {% for user in users %}
            <tr class="clickable-row" data-href="{% url 'profile' user.id %}">
              <td>{{user.id}}</td>
              <td>
                {% if user.profile_pic %}
                <img src="{{ user.profile_pic.url }}" alt="{{ user.first_name }}" class="img-thumbnail" width="50">
                {% else %}
                <img src="{% static 'profile_pic2.png' %}" alt="Default User" class="img-thumbnail" width="50">
                {% endif %}
              </td>
              <td>{{user.cin}}</td>
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.role}}</td>
              <td>{{user.dob}}</td>
              <td>
                {% if user_fines.user.id %}
                {{ user_fines.user.id }}
                {% else %}
                No fines
                {% endif %}
              </td>
              <td>{{user.status}}</td>
              {% if request.user.is_authenticated and request.user.role == 'Administrator' %}

              <td>
                <button class="btn btn-outline-brown" data-bs-toggle="modal"
                  data-bs-target="#suspendModal{{ user.id }}">suspend</button>
                <!-- ______________________________________________________________________________________________________________ -->
                <div class="modal fade" id="suspendModal{{ user.id }}" tabindex="-1"
                  aria-labelledby="suspendModalLabel{{ user.id }}" aria-hidden="true">

                  <div class="modal-dialog">

                    <div class="modal-content">

                      <div class="modal-header bg-brown">
                        <h5 class="modal-title text-light" id="suspendModalLabel{{ user.id }}">Suspend User {{
                          user.username }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to SUSPEND the account of <em>{{user.last_name}}
                            {{user.first_name}}</em></p>
                      </div>
                      <div class="modal-footer bg-brown">
                        <a href="{% url 'change-account-status' user.id 'Suspend' %}" class="btn btn-outline-green">Yes!
                          I'm sure</a>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">No.</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <button class="btn btn-outline-brown" data-bs-toggle="modal"
                  data-bs-target="#banModal{{ user.id }}">Ban</button>
                <!-- ______________________________________________________________________________________________________________ -->
                <div class="modal fade" id="banModal{{ user.id }}" tabindex="-1"
                  aria-labelledby="banModalLabel{{ user.id }}" aria-hidden="true">

                  <div class="modal-dialog">

                    <div class="modal-content">

                      <div class="modal-header bg-brown">
                        <h5 class="modal-title text-light" id="banModalLabel{{ user.id }}">Ban User {{ user.username }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to BAN the account of <em>{{user.last_name}}
                            {{user.first_name}}</em></p>
                      </div>
                      <div class="modal-footer bg-brown">
                        <a href="{% url 'change-account-status' user.id 'Ban' %}" class="btn btn-outline-green">Yes! I'm
                          sure</a>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">No.</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <a href="{% url 'edit-user' user.id %}" class="btn bg-white"><img src="{% static 'edit_icon.png' %}"
                    alt="#" class="border-light" width="25"></a>
              </td>
              {% endif %}
              <td>
                <a href="{% url 'print-user-details' user.id %}" class="btn btn-outline-brown">Print</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>


        </table>
      </div>
    </div>
    <!-- END TABLE OF USERS -->


  </div>
  <!-- END DISPLAY USERS -->
</div>

<div class="">

</div>

<script>

  document.querySelectorAll(".clickable-row").forEach(row => {
    row.addEventListener("click", () => {
      if (event.target.closest("button") || event.target.closest("a")) {
        return;
      }
      window.location.href = row.dataset.href;
    });
  });


  document.addEventListener("DOMContentLoaded", function () {
    const matriculeInput = document.querySelector('input[placeholder="Enter Matricule"]');
    const cinInput = document.querySelector('input[placeholder="Enter CIN"]');
    const nameInput = document.querySelector('input[placeholder="First or Last Name"]');
    const roleSelect = document.getElementById("role");
    const dobInput = document.getElementById("dob");
    const membershipStatusSelect = document.getElementById("membershipStatus");
    const resetButton = document.getElementById("resetFilters");

    const tableRows = document.querySelectorAll("tbody tr");

    function filterUsers() {
      const matriculeValue = matriculeInput.value.toLowerCase();
      const cinValue = cinInput.value.toLowerCase();
      const nameValue = nameInput.value.toLowerCase();
      const roleValue = roleSelect.value.toLowerCase();
      const dobValue = dobInput.value;
      const membershipStatusValue = membershipStatusSelect.value.toLowerCase();

      tableRows.forEach(row => {
        const matricule = row.cells[0].textContent.toLowerCase();
        const cin = row.cells[2].textContent.toLowerCase();
        const firstName = row.cells[3].textContent.toLowerCase();
        const lastName = row.cells[4].textContent.toLowerCase();
        const role = row.cells[6].textContent.toLowerCase();
        const dob = row.cells[7].textContent.trim();
        const status = row.cells[8].textContent.toLowerCase();

        const matchMatricule = matricule.includes(matriculeValue);
        const matchCIN = cin.includes(cinValue);
        const matchName = firstName.includes(nameValue) || lastName.includes(nameValue);
        const matchRole = roleValue === "" || role.includes(roleValue);
        const matchDOB = dobValue === "" || dob === dobValue;
        const matchStatus = membershipStatusValue === "" || status === membershipStatusValue;

        if (matchMatricule && matchCIN && matchName && matchRole && matchDOB && matchStatus) {
          row.style.display = "";
        } else {
          row.style.display = "none";
        }
      });
    }

    // Event listeners
    matriculeInput.addEventListener("input", filterUsers);
    cinInput.addEventListener("input", filterUsers);
    nameInput.addEventListener("input", filterUsers);
    roleSelect.addEventListener("change", filterUsers);
    dobInput.addEventListener("input", filterUsers);
    membershipStatusSelect.addEventListener("change", filterUsers);

    // Reset Filters
    resetButton.addEventListener("click", () => {
      matriculeInput.value = "";
      cinInput.value = "";
      nameInput.value = "";
      roleSelect.value = "";
      dobInput.value = "";
      membershipStatusSelect.value = "";
      filterUsers();
    });
  });
</script>

{% endblock %}